body{
  margin: 0%;
  padding: 0%;
}
.login__tab{
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: white;
  padding: 80px 30px 50px 40px;
  height: 100%;
  font-family: 'Roboto';
}

.login__tab__logo{
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.login__tab__text__top{
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  font-size: 18px;
  margin: 0%;
}

.login__tab__text__bottom{
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
}

.login__tab__username{
margin: 15px 0px 0px 0px;
}

.login__tab__username__label{
  margin: 0px 0px 3px 0px;
  font-size: 11px;
}

.login__tab__password{
margin: 15px 0px 20px 0px;
}

.login__tab__password__label{
  margin: 0px 0px 3px 0px;
  font-size: 11px;
}

#login__tab__username__input__properities{
  width: 280px;
  height: 25px;
  border-color: rgb(228, 228, 228);
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
}

#login__tab__password__input__properities{
  width: 280px;
  height: 25px;
  border-color: rgb(228, 228, 228);
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
}

.login__tab__remember{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

#login__tab__remember__checkbox__icon{
  display: flex;
  margin: 0%;
  cursor: pointer;
}

.login__tab__remember__checkbox__text{
  display: flex;;
  margin: 0px 0px 0px 10px;
  font-size: 12px;
}

.label__tab__button{
  margin: 15px 0px 20px 0px;
  background-color: #3F918D;
  color: white;
  border: none;
  border-style: solid;
  border-color: transparent;
  height: 30px;
  width: 285px;
  font-size: 12px;
  border-radius: 3px;
  cursor: pointer;
}

:hover.label__tab__button{
  background-color: #5cada9;

}

.label__tab__forgot{
  color: rgb(47, 94, 224);
  text-decoration: none;
  font-size: 12px;
  margin: 0 auto;
}

:hover.label__tab__forgot{
  text-decoration: underline;
}

.main{
  display: flex;
  flex-direction: row;

}