body{
  margin: 0%;
  padding: 0%;
}
.login__tab{
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: aqua;
  padding: 80px 30px 50px 40px;
  height: 100%;
}

.login__tab__logo{
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.login__tab__text__top{
  display: flex;
  justify-content: flex-start;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 18px;
  margin: 0%;
}

.login__tab__text__bottom{
  display: flex;
  justify-content: flex-start;
  font-family: 'Roboto';
  font-size: 12px;
}